body {
  margin: 10px;
}

.container {
  font-family: Arial,
    Helvetica Neue,
    Helvetica,
    sans-serif;
}

audio {
  display: inline-block;
  position: relative;
  width: calc(100% - 120px);
}

button {
  width: 96px;
}

#buttons {
  margin-left: 20px;
}

#play-pause-button {
  font-size: 50px;
  cursor: pointer;
}


/* table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    width: max-content;
    padding: 10pt;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  } */

.question {
  margin-top: 30px;
  height: min-content;
}

div#audio>div {
  margin: 0 0 20px 0;
}

div.label {
  display: inline-block;
  font-weight: 400;
  width: 120px;
}

div.graph-container {
  float: left;
  margin: 0.5em;
  width: calc(50% - 1em);
}

a#viewSource {
  clear: both;
}

#player{
  text-align: center;
}

#callButton {
  content: '';
  background-color: #00a500;
  border: honeydew;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#hangupButton {
  content: '';
  background-color: red;
  border: honeydew;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

tr.selected {
  background: #ddd;
}